{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0 user-scalable=no, shrink-to-fit=no">
		<title>Banking System</title>
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
        <link rel="stylesheet" href="{% static 'css/customers.css' %}">
        <link rel="stylesheet" href="{% static 'packages/font-awesome-5.15.1/css/all.css' %}">
        <link rel="stylesheet" href="{% static 'packages/bootstrap-4.1.3/css/bootstrap.min.css' %}">
        <link rel="shortcut icon" href="#">
    </head>
    <body>
        <div class="col-12"> 
            <div class="row">
                <div class="navBar">
                    <img class = "tsfLogo" src = "{% static 'images/tsf.png' %}">
                    <input type="checkbox" id="chk">
                    <label for="chk" class="show-menu-btn">
                        <i class="fas fa-bars"></i>
                    </label>
                    <ul class="menu">
                        <li><a href = "{% url 'index' %}">Home</a></li>
                        <li><a href = "{% url 'customers' %}">Customers</a></li>
                        <li><a href = "{% url 'transferMoney' %}">Transfer Money</a></li>
                        <li><a href = "{% url 'transactionRecords' %}">Transaction Records</a></li>
                        <label for="chk" class="hide-menu-btn">
                            <i class="fas fa-times"></i>
                        </label>
                    </ul>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="tab col-10">
                    <table class="table table-striped table-hover table-bordered">
                        <tr>
                            <th>ID</th>
                            <th>NAME</th>
                            <th>EMAIL</th>
                            <th class="right">BALANCE</th>
                        </tr>
                        {% for result in results %}
                        <tr>
                            <td>{{result.user_id}}</td>
                            <td>{{result.name}}</td>
                            <td>{{result.email}}</td>
                            <td align="right">{{result.Balance}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <!-- {% for result in results %}
                    {{result.user_id }}
                {% endfor %} -->
            </div>
        </div>

        <script type="text/javascript" src="{% static 'packages/jquery-3.2.1/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'packages/bootstrap-4.1.3/js/bootstrap.min.js' %}"></script>
    </body>
</html>